<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>emmm</title>
</head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
      <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone No</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="emp : ${employees}">
                                        <td th:text="${emp.name}"></td>
                                        <td th:text="${emp.email}"></td>
                                        <td th:text="${emp.age}"></td>
    
                                                                           <!--  <td><a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td> -->
                                    </tr>
                                </tbody>
                            </table>
       <a th:href="@{/employees/add}" >ADD</a>
</body>
</html>